In [51]:
import requests
import pandas as pd
import json

In [92]:
# def get_data(api):
#     response = requests.get(f"{api}")
#     if response.status_code == 200:
#         print("sucessfully fetched the data")
#         daa = response.json()
#         return daa
#     else:
#         print(f"Hello person, there's a {response.status_code} error with your request")

In [53]:
# loc = []
# with open('locations1.json') as file:
#     js = json.load(file)
#     for i in range(len(js[0]["locations"])):
#         attr = js[0]['locations'][i]['attributes']
#         lat = attr['lat']
#         lon = attr['lon']
#         loc.append([lat,lon])

In [ ]:
# api = "https://matrix.route.ls.hereapi.com/routing/7.2/calculatematrix.json?start0=41.77505,-88.27425"
# for i in range(100):
#     j=i
#     i = str(i)
#     api = api+"&destination"+i
#     l1=str(loc[j][0])
#     l2=str(loc[j][1])
#     api = api+"="+l1+","+l2
# api = api+"&mode=fastest%3Btruck&summaryattributes=all&apiKey=6ao6MQ1v9au2jCwQ3RK_XiwOT0f3FGlvC5RFJlhNTO0"
# print(api)
# d=get_data(api)

In [ ]:
# arr_time = []
# arr_dist = []
# data = d['response']['matrixEntry']
# for i in data:
#     arr_time.append(i['summary']['travelTime'])
#     arr_dist.append(i['summary']['distance'])
# print(arr_dist,arr_time)

In [ ]:
# df = pd.json_normalize(js,record_path=['locations'])
# arr = []
# for i in range(len(df)):
#     arr.append("153943")
# df.insert(0,'Source Node',arr)
# df

In [ ]:
# ad=[]
# at=[]
# for i in range(len(df)):
#     try:
#         ad.append(arr_dist[i])
#     except:
#         ad.append("NA")
# for i in range(len(df)):
#     try:
#         at.append(arr_time[i])
#     except:
#         at.append("NA")
# df['Distance'] = ad
# df['Travel Time'] = at
# df

In [58]:
# df.to_json('event.json')

In [96]:
loc = []
my_api=[]
arr_time = []
arr_dist = []
with open('locations1.json') as file:
    js = json.load(file)
    for i in range(len(js[0]["locations"])):
        attr = js[0]['locations'][i]['attributes']
        lat = attr['lat']
        lon = attr['lon']
        loc.append([lat,lon])
num=0
flag =0
df = pd.json_normalize(js,record_path=['locations'])
while(num!=len(df)):
    api1 = f"https://matrix.route.ls.hereapi.com/routing/7.2/calculatematrix.json?start0=41.77505,-88.2742&destination{num}={loc[num][0]},{loc[num][1]}&mode=fastest%3Btruck&summaryattributes=all&apiKey=6ao6MQ1v9au2jCwQ3RK_XiwOT0f3FGlvC5RFJlhNTO0"
    response = requests.get(api1)
    daa = response.json()
    num = num+1
    if flag!=1:
        data = daa['response']['matrixEntry']
        flag =1
    for i in data:
        arr_dist.append(i['summary']['distance'])
        arr_time.append(i['summary']['travelTime'])
print(arr_dist,arr_time)

[3390137, 3390137, 3390137, 3390137, 3390137, 3390137, 3390137, 3390137, 3390137, 3390137, 3390137, 3390137, 3390137, 3390137, 3390137, 3390137, 3390137, 3390137, 3390137, 3390137, 3390137, 3390137, 3390137, 3390137, 3390137, 3390137, 3390137, 3390137, 3390137, 3390137, 3390137, 3390137, 3390137, 3390137, 3390137, 3390137, 3390137, 3390137, 3390137, 3390137, 3390137, 3390137, 3390137, 3390137, 3390137, 3390137, 3390137, 3390137, 3390137, 3390137, 3390137, 3390137, 3390137, 3390137, 3390137, 3390137, 3390137, 3390137, 3390137, 3390137, 3390137, 3390137, 3390137, 3390137, 3390137, 3390137, 3390137, 3390137, 3390137, 3390137, 3390137, 3390137, 3390137, 3390137, 3390137, 3390137, 3390137, 3390137, 3390137, 3390137, 3390137, 3390137, 3390137, 3390137, 3390137, 3390137, 3390137, 3390137, 3390137, 3390137, 3390137, 3390137, 3390137, 3390137, 3390137, 3390137, 3390137, 3390137, 3390137, 3390137, 3390137, 3390137, 3390137, 3390137] [129886, 129886, 129886, 129886, 129886, 129886, 129886, 129886, 129886, 129886, 129886, 129886, 129886, 129886, 129886, 129886, 129886, 129886, 129886, 129886, 129886, 129886, 129886, 129886, 129886, 129886, 129886, 129886, 129886, 129886, 129886, 129886, 129886, 129886, 129886, 129886, 129886, 129886, 129886, 129886, 129886, 129886, 129886, 129886, 129886, 129886, 129886, 129886, 129886, 129886, 129886, 129886, 129886, 129886, 129886, 129886, 129886, 129886, 129886, 129886, 129886, 129886, 129886, 129886, 129886, 129886, 129886, 129886, 129886, 129886, 129886, 129886, 129886, 129886, 129886, 129886, 129886, 129886, 129886, 129886, 129886, 129886, 129886, 129886, 129886, 129886, 129886, 129886, 129886, 129886, 129886, 129886, 129886, 129886, 129886, 129886, 129886, 129886, 129886, 129886, 129886, 129886, 129886, 129886]

In [103]:
df = pd.json_normalize(js,record_path=['locations'])
arr = []
for i in range(len(df)):
    arr.append("153943")
df.insert(0,'Source Node',arr)
df

,Source Node,v_id,v_type,attributes.address1,attributes.address2,attributes.break_permitted,attributes.city,attributes.lat,attributes.location_type,attributes.lon,attributes.name,attributes.zip
0,153943,361237,location,380 LITTLEFIELD AVE,,False,SOUTH SAN FRANCISC,37.64845,[],-122.39328,DB SCHENKER,940806103
1,153943,361115,location,42 DIGITAL DR STE 5,,False,NOVATO,38.07048,[],-122.53219,ROSS PERIODICALS,949495762
2,153943,366465,location,400 E PARK AVE,,False,CHICO,39.71476,[],-121.80645,MVP RECORD SEARCHLIGHT,959287127
3,153943,375166,location,1271 LERIDA WAY,,False,PACIFICA,37.59201,[],-122.47949,MARIA T BAILEY,940443635
4,153943,350976,location,47540 KATO RD,,False,FREMONT,37.47386,[],-121.93082,SAN JOSE MERCURY,945387303
...,...,...,...,...,...,...,...,...,...,...,...,...
99,153943,360193,location,1109 GEARY BLVD,,False,SAN FRANCISCO,37.78558,[],-122.42222,ALAN WOFSY FINE ARTS LLC,941096815
100,153943,350133,location,47540 KATO RD,C/O TRANS NORTHERN CALIFORNIA,False,FREMONT,37.47386,[],-121.93082,SANTA CRUZ SENTINEL,945387303
101,153943,361219,location,400 E PARK AVE,W SIDE LOADING DOCK (REAR),False,CHICO,39.71476,[],-121.80645,RECORD SEARCHLIGHT,959287127
102,153943,375677,location,230 DOHERTY DR,,False,LARKSPUR,37.93818,[],-122.53161,LARKSPUR - CORTE MADERA SCHOOL,949391532
103,153943,181752,location,47540 KATO RD,C/O TRANS NORTHERN CALIFORNIA,False,FREMONT,37.54335,[],-121.97991,SAN FRANCISCO CHRONICLE,945387303

In [104]:
ad=[]
at=[]
for i in range(len(df)):
    try:
        ad.append(arr_dist[i])
    except:
        ad.append("NA")
for i in range(len(df)):
    try:
        at.append(arr_time[i])
    except:
        at.append("NA")
df['Distance'] = ad
df['Travel Time'] = at
df

,Source Node,v_id,v_type,attributes.address1,attributes.address2,attributes.break_permitted,attributes.city,attributes.lat,attributes.location_type,attributes.lon,attributes.name,attributes.zip,Distance,Travel Time
0,153943,361237,location,380 LITTLEFIELD AVE,,False,SOUTH SAN FRANCISC,37.64845,[],-122.39328,DB SCHENKER,940806103,3390137,129886
1,153943,361115,location,42 DIGITAL DR STE 5,,False,NOVATO,38.07048,[],-122.53219,ROSS PERIODICALS,949495762,3390137,129886
2,153943,366465,location,400 E PARK AVE,,False,CHICO,39.71476,[],-121.80645,MVP RECORD SEARCHLIGHT,959287127,3390137,129886
3,153943,375166,location,1271 LERIDA WAY,,False,PACIFICA,37.59201,[],-122.47949,MARIA T BAILEY,940443635,3390137,129886
4,153943,350976,location,47540 KATO RD,,False,FREMONT,37.47386,[],-121.93082,SAN JOSE MERCURY,945387303,3390137,129886
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99,153943,360193,location,1109 GEARY BLVD,,False,SAN FRANCISCO,37.78558,[],-122.42222,ALAN WOFSY FINE ARTS LLC,941096815,3390137,129886
100,153943,350133,location,47540 KATO RD,C/O TRANS NORTHERN CALIFORNIA,False,FREMONT,37.47386,[],-121.93082,SANTA CRUZ SENTINEL,945387303,3390137,129886
101,153943,361219,location,400 E PARK AVE,W SIDE LOADING DOCK (REAR),False,CHICO,39.71476,[],-121.80645,RECORD SEARCHLIGHT,959287127,3390137,129886
102,153943,375677,location,230 DOHERTY DR,,False,LARKSPUR,37.93818,[],-122.53161,LARKSPUR - CORTE MADERA SCHOOL,949391532,3390137,129886
103,153943,181752,location,47540 KATO RD,C/O TRANS NORTHERN CALIFORNIA,False,FREMONT,37.54335,[],-121.97991,SAN FRANCISCO CHRONICLE,945387303,3390137,129886

In [98]:
df.to_json('event.json')